<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- cdn  -->
    <link rel="stylesheet" href="https://cdnjs.dloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- link css -->
    <link rel="stylesheet" type="text/css" href="../css/game.css">

    <!-- AJAX JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" charset="utf-8"></script>

</head>

<body class="bt">

    <%-include('./common/header.ejs') %>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 bg1">

                    <div class="row">
                        <div class="col-md-7 cntt1">
                            <p class="p3">Dominate Your Game with HardyPlaystore</p>
                            <p class="p4">PlayerAuctions is a secure marketplace for players to buy and sell MMO game
                                assets</p>
                            <div class="text-center">
                                <button type="button" class="btn btn-outline-warning">REGISTER NOW</button>
                                <p class="p5 mt-2">FREE REGISTER!</P>
                                    
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- second  -->

        <div class="container-fluid ">
            <div class="row justify-content-evenly">
                <div class="col-md-6 mt-3 buy1 img-fluid ">

                </div>
                <div class="col-md-6 mt-3">
                    <p class="p6">Dominate Your Game</p>
                    <p class="p7">Escape the grind when you buy great loot at better prices from your fellow players</p>
                    <p class="p6">Trade Confidently & Securely</p>
                    <p class="p7">PlayerGua`rdian provides you, your payments, and your trades with unparalleled
                        protection</p>
                    <p class="p6">Make a Difference</p>
                    <p class="p7">Trading at PlayerAuctions supports the end to scams and in-game spam</p>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mt-2">
                    <p class="p6">Buy from a Safe Online Marketplace</p>
                    <p class="p7">Purchase digital assets from a safe marketplace where buyers are sheltered from
                        fraudulent sellers</p>
                    <p class="p6">Put an End to Online Scamming</p>
                    <p class="p7">Follow the best practices for ensuring secure online trades and help in the bid to put
                        an end to online scamming</p>

                </div>
                <div class="col-md-6  mt-2 buy img-fluid">

                </div>
            </div>
        </div>



        <div class="container-fluid mt-5 faq bg-transparent">
            <section id="faq">
                <p class="p8">FAQ</p>
                <p class="p9">Through PlayerGuardian, you are guaranteed delivery, or your money back. Learn more on
                    how PlayerGuardian protects buyers. PlayerAuctions is also optimized for your convenience, and
                    our 24/7 customer support team is always here to help.</p>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="accordions text-center">
                                <div class="accordion-item text-center">
                                    <div class="accordion-title text-center" data-tab="item1">
                                        <h3 class="text-white">Is PlayerAuction Free For Buyers? <i
                                                class="fa fa-chevron-down"></i></h3>
                                    </div>
                                    <div class="accordion-content" id="item1">
                                        <p>
                                            FutureRDP provides cheap and affordable Linux and Windows VPS servers and
                                            storage solution since 2008 for more than 11 years in multiple locations
                                            such as
                                            the United States, UK, France, Germany, Netherlands, and Canada. We have a
                                            range
                                            of different solutions for different purposes such as SSD VPS and Storage
                                            servers. All servers are equipped with RAID10 only SSD drives and FREE DDoS
                                            Protection!
                                        </p>
                                    </div>
                                </div>


                                <div class="accordion-item">
                                    <div class="accordion-title" data-tab="item2">
                                        <h3 class="text-white">How do i make a Purchase <i
                                                class="fa fa-chevron-down"></i></h3>
                                    </div>
                                    <div class="accordion-content" id="item2">
                                        <p>
                                            With a Windows VPS server, you will get a Remote Desktop connection within a
                                            few
                                            minutes. You can run Windows applications such as IIS, SQL, Microsoft
                                            Exchange
                                            or any software like Docking, Forex trading, Crypto Trading etc… or anything
                                            which you wish for. Just like your own computer!! but the difference is
                                            online
                                            24/7 days without interruptions and with a super fast Internet connection!
                                        </p>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <div class="accordion-title" data-tab="item3">
                                        <h3 class="text-white">Payment Options <i class="fa fa-chevron-down"></i></h3>
                                    </div>
                                    <div class="accordion-content" id="item3">
                                        <p>
                                            Unlike most other providers you don’t have to pay with just Credit Card or
                                            PayPal. You can also pay with Bitcoin, Alt Coins like Ethereum or Litecoin,
                                            PerfectMoney, Payza and of course you can still pay by PayPal and Credit
                                            Cards.
                                            You even get more discounts when you choose longer-term commitments like our
                                            attractive yearly plans.
                                        </p>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <div class="accordion-title" data-tab="item4">
                                        <h3 class="text-white">Who am I Buying from <i class="fa fa-chevron-down"></i>
                                        </h3>
                                    </div>
                                    <div class="accordion-content" id="item4">
                                        <p>
                                            Unlike other providers who charge extra for DDoS protection, All of our VPS
                                            servers comes with DDoS protection for FREE. This means you do not have to
                                            worry
                                            about your VPS performance at all. We are taking care of your needs while
                                            you do
                                            focus on your business!
                                        </p>
                                        <div class="text-center mt-4">
                                            <button type="button" class="btn btn-outline-warning">REGISTER NOW</button>
                                            <p class="p5 mt-2">FREE REGISTER!</P>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </section>
        </div>
        </div>
        </div>

     
                <nav class="menu">
                    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
                    <label class="menu-open-button" for="menu-open">
                     <i class="fa fa-share-alt share-icon"></i>
                   </label>
                 
                    <a href="https://www.facebook.com" target="_blank" class="menu-item facebook_share_btn"> <i class="fa-brands fa-facebook"></i> </a>
                    <a href="https://www.twitter.com" target="_blank" class="menu-item twitter_share_btn"> <i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.pinterest.com" target="_blank" class="menu-item pinterest_share_btn"> <i class="fa-brands fa-pinterest"></i></a>
                    <a href="https://www.youtube.com" target="_blank" class="menu-item youtube_share_btn"> <i class="fa-brands fa-youtube"></i> </a>
                    <a href="https://www.tumblr.com" target="_blank" class="menu-item tumblr_share_btn"> <i class="fa-brands fa-tumblr"></i></a>
                    <a href="https://plus.google.com" target="_blank" class="menu-item google_plus_share_btn"> <i class="fa-brands fa-google-plus-g"></i> </a>
                 </nav>
    




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $(".accordion-title").click(function (e) {
                    var accordionitem = $(this).attr("data-tab");
                    $("#" + accordionitem)
                        .slideToggle()
                        .parent()
                        .siblings()
                        .find(".accordion-content")
                        .slideUp();

                    $(this).toggleClass("active-title");
                    $("#" + accordionitem)
                        .parent()
                        .siblings()
                        .find(".accordion-title")
                        .removeClass("active-title");

                    $("i.fa-chevron-down", this).toggleClass("chevron-top");
                    $("#" + accordionitem)
                        .parent()
                        .siblings()
                        .find(".accordion-title i.fa-chevron-down")
                        .removeClass("chevron-top");
                });
            });

        </script>
</body>

</html>